<div class="container" id="header">
<div class="typewriter">
    <h1 id="head-title" > TUTORIAL 10 </h1>
</div>



</div>
<style>
#header{
    background-image: url(https://i.pinimg.com/736x/30/98/f0/3098f010473b1b2d2c448bf0ef899ba1--twitter-banner-header-twitter.jpg);
}
#head-title{
    
    text-align: center;
    color: white;
    
}


</style>    