{% extends "lab_10/layout/base.html" %}

{% block content %}
<div class="row">
    <h1 style="text-align: center;"> {{ movie.title}} </h1>
    <center><img src= {{movie.poster}} style='height:30%' class='img-responsive img-thumbnail' ></center>
    <br>
    <hr>
        <h4 style="text-align: left;">Tanggal Rilis : {{movie.released}}</h4>
        <h4 style="text-align: left;">Durasi        : {{movie.runtime}}</h4>
        <h4 style="text-align: left;">Genre         : {{movie.genre}}</h4>
        <h4 style="text-align: left;">Bahasa        : {{movie.language}}</h4>
        <h4 style="text-align: left;">Director      : {{movie.director}}</h4>
        <h4 style="text-align: left;">Aktor         : {{movie.actors}}</h4>
        <h4 style="text-align: left;">Plot          : {{movie.plot}}</h4>
        <h4 style="text-align: left;">Website       : <a href="{{movie.website}}">{{movie.website}}</a></h4>
    <br>
    <div class="box">
        {% if added %}
        <button class="btn btn-success"> Added to Watch Later </button>
        {% else %}
        <a href="{% url 'lab-10:add_watch_later' id %}" class="btn btn-warning"> Add to Watch Later </a>
        {% endif%}
    </div>
       
</div>
{% endblock %}
