{% extends "lab_10/layout/base.html" %}

{% block content %}
<div class="row">
    <div class="table table-responsive">
        <table class="table table-hover" id="myTable" style="width: none;">
            <thead>
            <th> Judul</th>
            <th> Tahun</th>
            <th> Poster</th>
            <th> Detail</th>
            </thead>
            <tbody>
                {% for movie in watch_later_movies %}
                <tr class="info">
                    <td> {{movie.title}} </td>
                    <td> {{movie.year}} </td>
                    <td> <img src= {{movie.poster}} style='height:50%' class='img-responsive img-thumbnail'/> </td>
                    <td> <a href='/lab-10/movie/detail/{{movie.imdbid}}' class='btn btn-primary'> Detail </a> </td>
                </tr>             
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
