{% extends "lab_8/layout/base.html" %}

{% block content %}     
    <!-- Login Button Section -->
    <section name="Lab_8">
        <div id="lab8">
            <h1>LAB 8</h1>
            <button onclick="facebookLogin()">Login with Facebook</button>
        </div>
    </section>
    
    

{% endblock %}
