.feed{
    text-align: center;
    background: #fff;
    position: relative;
    z-index: 15;
    margin: 60px;
    background-color: paleturquoise;
    color: #DE5B5B;
    width: 80px;

  }

#lab8{
    background-color: white;
}