.feed{
    text-align: center;
    background: #fff;
    position: relative;
    z-index: 15;
    margin-bottom: 60px;
    background-color: paleturquoise;
    color: grey;
  }

#lab8{
    background-color: white;
}