.feed{
    text-align: center;
    background: #fff;
    position: relative;
    z-index: 15;
    margin-bottom: 60px;
    -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
  }