.feed{
    text-align: center;
    background: #fff;
    position: relative;
    z-index: 15;
    margin: 60px;
    background-color: paleturquoise;
    color: grey;
    width: 1000px;
    height: 150px;
    font-size: 20px;
  }

#lab8{
    background-color: white;
}