.feed{
    text-align: center;
    background: #fff;
    position: relative;
    z-index: 15;
    margin: 60px;
    background-color: paleturquoise;
    color: grey;
    width: 1000px;
    height: 150px;
    font-size: 20px;
  }

#lab8{
    background-color: white;
}

h1{
    text-align: center;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
}

.form-control{
    width: 1000px;
    height: 100px;
    margin-left: 60px;
    margin-top: 100px;
}
.btn-info{
    margin-top: 10px;
    margin-left: 60px;
}
.btn-outline-info{
    margin-top: 10px;
    margin-left: 20px;
}