{% extends "lab_4/layout/base.html" %}

    {% block content %}
    
    
    <div class="row">
        <div class="col-8 container" style="background-color:beige">
            <h1 name="port"><center><span class="underline--magical">P O R T O F O L I O</span></center></h1>
            <hr/>
            <section name="foto" align="center">
                <img src="http://dx54ed3r88ipb.cloudfront.net/upload/IMG_2723.png" alt="Circle" height="250" width="250" align="center">
            </section>
            <hr/>
            <section name="bio">
                <h2><center>About me</center></h2>
                <p><center>
                    {{content}}
                </center></p>    
            </section>
            <hr/>
        </div>

        <div class="col-4 container">
            <section name="about_me">
                <h2>List</h2>
                <ul>
                    {% for ii in about_me %}
                    <li> {{ ii }} </li>
                    {% endfor %}
                </ul>
            </section>
            <hr/>
        </div>
      </div>
    
    <section name="form">
        <h2>Send Message</h2>
        <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
            {% csrf_token %}
            {{ message_form }}
            <br>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </section>

    {% endblock %}
