<div class="container" style="background-image: url(https://i.pinimg.com/736x/30/98/f0/3098f010473b1b2d2c448bf0ef899ba1--twitter-banner-header-twitter.jpg);">
    <h4>&copy; Faza</h4>
</div>
<style>
    h4{
        text-align: center;
        color: navy;
    }
</style>