<div class="container" id="header">
        {% if 'user_login' in request.session %}
            {% if 'user_login' in request.COOKIES %} 
                <a href="{% url 'lab-9:cookie_clear' %}" class="btn btn-danger pull-right" onclick="return confirm('Keluar?')" id="logout-header">
                    Logout Cookie </a>
                <a href="{% url 'lab-9:auth_logout' %}" class="btn btn-danger pull-right" onclick="return confirm('Keluar?')" id="logout-header">
                    Logout Session</a>
            {% else %}
                <a href="{% url 'lab-9:auth_logout' %}" class="btn btn-danger pull-right" onclick="return confirm('Keluar?')" id="logout-header">
                Logout Session</a>
            {% endif %}
        {% endif %}
    <div class="typewriter">
        <h1 id="head-title" > TUTORIAL 9 </h1>
    </div>
    
    
    
</div>
<style>
    #header{
        background-image: url(https://i.pinimg.com/736x/30/98/f0/3098f010473b1b2d2c448bf0ef899ba1--twitter-banner-header-twitter.jpg);
    }
    #logout-header{
        margin-top: 18px;
        position: center;
        margin-left: 10px;
    }
    #head-title{
        
        text-align: center;
        color: white;
        
    }
    
   
</style>    