{% extends "lab_7/layout/base.html" %}

{% block content %}
    <section name="friend-list" id="friend-list">
        <div class="container">
            <div class="row">
                <div class="list-group" id="friend-list" style="display:inline-block;">
                    <h2> Friends in Fasilkom</h2>
                    <!-- <div id=" friend-list" class="col-md-6 list-group">

                    </div> -->
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascript %}
    <script>
        $( document ).ready(function () {
            $.ajax({
                method: "GET",
                url: "{% url 'lab-7:get-friend-list' %}",
                success: function (friend_list) {
                    //#tampilkan list teman ke halaman
                    //#hint : gunakan fungsi jquery append()
                    var friend_list = JSON.parse(friend_list);
                    $.each(friend_list, function(index, friend) {
                        var button ='<span type="button" class="btn btn-xs btn-danger" style="position: absolute; right: 0;"' +
                            'onClick="deleteFriend(' + friend.pk + ')">' +
                            '&times; Remove Friend' +
                            '</span>';
                        var html = '<a class="list-group-item clearfix style=width:80%" >' + friend.fields.friend_name +  button + '</a>';

                        $("#friend-list").append(html)
                    })
                },
                error: function(error){
                    alert("Teman tidak ditemukan")
                }
            });
        });
        function deleteFriend(id) {
            window.open('../delete-friend/' + id + '/', '_self');
        }

    </script>
{% endblock %}
