body {
  min-height: 2000px;
}

.navbar-static-top {
  margin-bottom: 19px;
}
/*Textarea not resizeable*/
textarea {
    resize:none
}
.container {
  background-color: white;
}


/*================================================
Start Important Part
==================================================*/

.underline--magical {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
  
}

/*================================================
End Important Part
==================================================*/